.navbar {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.navbar__btn button {
	border-style: none;
	background: none;
}
.navbar__btn button :hover {
	border-style: solid;
	border-color: black;
	border-radius: 4px;
}
